{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <link rel="stylesheet" href="{% static 'blog/css/amazeui.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/wap.css' %}">

    <title>首页</title>
</head>
<body>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
    <a href="#top" title="">
        <img class="am-gotop-icon-custom" src="{% static 'blog/img/goTop.png' %}" />
    </a>
</div>


<div class="pet_circle_nav">   <!--八个导航-->
    <ul class="pet_circle_nav_list">
        <li><a href="" class="iconfont pet_nav_xinxianshi ">&#xe61e;</a><span>新鲜事</span></li>
        <li><a href="" class="iconfont pet_nav_zhangzhishi ">&#xe607;</a><span>趣闻</span></li>
        <li><a href="" class="iconfont pet_nav_kantuya ">&#xe62c;</a><span>阅读</span></li>
        <li><a href="" class="iconfont pet_nav_mengzhuanti ">&#xe622;</a><span>专题</span></li>
        <li><a href="" class="iconfont pet_nav_meirong ">&#xe629;</a><span>订阅</span></li>
        <li><a href="" class="iconfont pet_nav_yiyuan ">&#xe602;</a><span>专栏</span></li>
        <li><a href="" class="iconfont pet_nav_dianpu ">&#xe604;</a><span>讨论</span></li>
        <li><a href="javascript:;" class="iconfont pet_nav_gengduo ">&#xe600;</a><span>更多</span></li>
    </ul>

</div>
<div class="pet_content_main">
    <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <div class="am-list-news-bd">
    <ul class="am-list">
        <!--缩略图在标题右边-->
        {% for post in post_list %}
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
                <div class="pet_list_one_info">
                    <div class="pet_list_one_info_l">
                        <div class="pet_list_one_info_ico"><img src="{% static 'blog/img/a1.png' %}" alt=""></div>
                        <div class="pet_list_one_info_name">{{ post.author }}</div>
                    </div>
                    <div class="pet_list_one_info_r">
                        <div class="pet_list_tag pet_list_tag_xxs">{{ post.tags}}</div>
                    </div>
                </div>

                <hr/>
                <div class=" am-u-sm-8 am-list-main pet_list_one_nr">
                    <a href="{{ post.get_absolute_url }}" class="more-link">{{ post.title }}</a>
                    <h3 class="am-list-item-hd pet_list_one_bt"><a href="###" class="">{{ post.excerpt }}</a></h3>

                </div>

                <div class="am-u-sm-4 am-list-thumb">  <!--图片-->
                    <a href="###" class="">
                        <img src="{% static 'blog/img/q1.jpg' %}" class="pet_list_one_img" alt=""/>
                    </a>
                </div>
                <div>
                    <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="#">4 评论</a></span>
                    <span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span>
                </div>

            </li>
        {% empty %}
            <div class="no-post">暂时还没有任何东西</div>
        {% endfor %}


    </ul>
    </div>
    </div>
</div>


<div class="pet_article_dowload pet_dowload_more_top_off">
      <div class="pet_article_dowload_title">老子是曾振飞</div>
      <div class="pet_article_dowload_content pet_dowload_more_top_bg"><div class="pet_article_dowload_triangle pet_dowload_more_top_san"></div>
      <div class="pet_article_dowload_ico"><img src="img/footdon.png" alt=""></div>
      <div class="pet_article_dowload_content_font">
Amaze UI 以移动优先（Mobile first）为理念，从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。 </div>
      <div class="pet_article_dowload_all">
        <a href="###" class="pet_article_dowload_Az am-icon-apple"> App store</a>
        <a href="###" class="pet_article_dowload_Pg am-icon-android"> Android</a>
      </div>
      </div>
      <div class="pet_article_footer_info">Copyright(c)2015 Amaze UI All Rights Reserved.模板收集自 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> -  More Templates  <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>
</div>
</div>



<script src="{% static 'blog/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/js/amazeui.min.js' %}"></script>

<script>
$(function(){

    // 动态计算新闻列表文字样式
    auto_resize();
    $(window).resize(function() {
        auto_resize();
    });
    $('.am-list-thumb img').load(function(){
        auto_resize();
    });

    $('.am-list > li:last-child').css('border','none');
    function auto_resize(){
        $('.pet_list_one_nr').height($('.pet_list_one_img').height());

    }
        $('.pet_nav_gengduo').on('click',function(){
            $('.pet_more_list').addClass('pet_more_list_show');
       });
        $('.pet_more_close').on('click',function(){
            $('.pet_more_list').removeClass('pet_more_list_show');
        });
});

</script>
</body>
</html>