{% extends 'base.html' %}
{% block main %}
    {% for post in post_list %}
                                        <a href="{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a>
                                        <p>{{ post.excerpt }}</p>

                                        <p>{{ post.category }}作者：{{ post.author }}&nbsp; {{ post.created_time }}</p>
                                        <hr class="major" />
                                    {% empty %}
                                        <div class="no-post">暂时还没有发布的文章！</div>
                                    {% endfor %}
{% endblock %}